.vsm-splash-wrapper
  %section.home-splash.flex-container.full-width
    .hero-container.flex-container.flex-column.full-width.justify-center
      %a.hero-title{ href: "/analysts/forrester-vsm/" }
        %h1
          Strong Performer In VSM Tools Evaluation
      %p.hero-description
        Forrester Cites GitLab As A Strong Performer In VSM Tools Evaluation
      %a.btn.cta-btn.accent{href: "/pricing/"}
        Try GitLab for Free
      %a{ href: "https://www.g2crowd.com/products/gitlab/reviews", target: "_blank" }
        %p Read the full report →
    .hero-image-container
      %a.hero-image-link{ href: "/analysts/forrester-vsm/", target: "_blank" }
        %img.hero-image{ src: "/images/home/forrester-vsm-graphic.png" }
