@import "variables";
@import "vendor/bootstrap/bootstrap/variables";

.container {
  position: relative;
  z-index: 9;
}

.filters-container {
  width: 100%;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  .dropdown:not(:last-child) {
    margin-right: 20px;
  }
}

.event-headline-container {
  background: $color-primary-alt;
  padding-top: 80px;
}

.page-headline {
  margin-bottom: 0;
  font-weight: 300;
}

.featured-event-container {
  margin: 0 auto;
  width: 70%;
  margin-top: 120px;

  .featured-event-title {
    color: $color-secondary-alt;
    text-align: left;
    font-weight: 400;
  }

  .featured-event-description {
    text-align: left;
    color: $color-white;
  }
}

.feature-event-button {
  text-align: left;
  margin-top: 30px;
}

.btn-disabled {
  background-color: $color-white;
  color: $color-gray;
  border: 1px solid $color-gray;
  cursor: not-allowed;
}

.upcoming-events {
  padding-top: 80px;

  .page-headline {
    color: $color-primary;
  }

  .dropdown-menu.dropdown-scroll {
    max-height: 228px;
  }

  @media all and (max-width: $screen-md-min) {
    padding-top: 20px;
  }
}


.event-list {
  margin: 0 auto;
  margin-bottom: 40px;
  list-style: none;
  text-align: left;
  width: 75%;

  li {
    padding: 50px 0;
  }

  li:not(:last-child) {
    border-bottom: 1px solid $color-gray-extra-light;
  }
}

.event-headers {
  color: $color-primary;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
}

.event-subheaders {
  display: flex;
  justify-content: space-between;
  color: $color-gray;

  h2,
  h3,
  h4 {
    margin-top: 0;
  }

  h4 {
    margin-bottom: 40px;
  }
}

//event-list categories
.event-description {
  flex: 2 0 auto;
  max-width: 66%;
  margin-right: 100px;

  @media all and (max-width: $screen-md-min) {
    max-width: 100%;
    margin-right: 0;
  }
}

.event-location {
  max-width: 300px;
  text-align: right;

  @media all and (max-width: $screen-md-min) {
    text-align: left;
  }
}

.event-topic {
  float: left;
  margin-top: 0;
  margin-bottom: 10px;
  display: inline;

  .fa {
    color: $color-primary;
    transition: all .2s;
    padding-right: 4px;
    font-size: 20px;
    vertical-align: middle;
  }

  &.is-open {
    .fa {
      color: $color-secondary;
      transform: rotate(90deg);
      transition: all .2s;
    }
  }
}

.event-date {
  flex-shrink: 0;
  margin-left: 80px;
  white-space: nowrap;
  margin-top: 0;

  @media all and (max-width: $screen-md-min) {
    margin-left: 0;
    margin-top: 10px;
    font-size: 1em;
    color: $color-black;
  }
}

.missed-events {
  background: $color-white;
  padding-top: 80px;

  h3 {
    color: $color-primary-alt;
    margin-bottom: 5px;
  }

  p {
    color: $color-gray;
    margin-top: 10px;
  }
}

.event-recap {
  margin: 0 auto;
  margin-top: 75px;
  margin-bottom: 80px;
  width: 67%;
}

.event-buttons {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;

  .btn {
    margin: 0;

    @media all and (max-width: $screen-md-min) {
      margin-top: 20px;
    }
  }

  .social-tags {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
  }
}

.rad-event {
  display: block;
  margin: 0 auto;
  min-height: 200px;
  width: 75%;

  h3 {
    color: $color-primary-alt;
    padding-top: 20px;
  }

  p {
    color: $color-gray;
    margin-top: 10px;
  }

  a {
    margin-top: 25px;
    margin-bottom: 35px;
    min-width: 200px;
  }
}

.rad-event-alt {
  background: $color-white;

  h1 {
    color: $color-secondary;
  }
}

.rad-event-container {
  margin-top: 50px;
}

.subheader {
  margin-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  color: $color-gray-extra-light;
  margin-top: 5px;
}

.image-card {
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: $border-radius-large;

  span {
    display: none;
    color: $color-white;
  }

  img {
    flex-shrink: 0;
    min-width: 150%;
    min-height: 105%;
    transition: $transition-primary;
  }

  .image-card-text {
    color: $color-white;
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);

    a {
      color: $color-white;
      text-decoration: none;

      &:hover,
      &:visited {
        color: $color-white;
        text-decoration: none;
      }
    }
  }

  &:hover {

    img {
      transform: scale(1.1);
    }
  }
}

.featured-event-image {
  min-height: 300px;
}

.clear-floats {
  clear: both;
}

.footer {
  margin-top: 0;
}

.social-tags {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.social-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  padding-right: 30px;
  color: $color-twitter;

  i {
    margin-right: 4px;
  }

  @media all and (max-width: $screen-md-min) {
    justify-content: flex-start;
    margin: 10px 0;
  }

}

.image-card-container:not(:last-child) {
  margin-bottom: 0;
}

.center-horizontal {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.hide-description {
  display: none;
}

@import "dropdowns";

//Media Queries
@media (max-width: $screen-md-max) {
  .image-card {
    img {
      flex-shrink: 0;
      min-width: 165%;
      min-height: 105%;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .rad-event {
    width: 80%;
  }

  .filters-container {
    width: 100%;
    display: block;

    .dropdown:not(:last-child) {
      margin-right: 0;
    }
  }

  .btn.dropdown-menu-toggle {
    width: 75%;
  }

  .image-card-container:not(:last-child) {
    margin-bottom: 35px;
  }

  .image-card {
    img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .event-subheaders {
    flex-direction: column;
  }

  .featured-event-container {
    width: 100%;

    .featured-event-title {
      text-align: center;
      padding: 0 45px;
      margin: 30px 0;
    }

    .featured-event-description {
      margin-bottom: 45px;
    }
  }

  .event-list {
    width: 90%;
    padding: 20px;

    li {
      padding: 50px 0;
    }

  }

  .event-recap {
    width: 100%;
  }

  //.event-list categories
  .event-topic {
    float: none;
    margin-bottom: 5px;
  }

  .event-type {
    float: none;
  }

  .event-description {
    text-align: left;
    margin-right: 0;
    margin-left: 0;
  }

  .event-subheaders {
    h4 {
      margin-bottom: 10px;
    }
  }

  .event-buttons {
    margin-top: 20px;

    .btn {
      margin: 0;
    }

    .buttons {
      float: none;
      text-align: center;
    }

  }

  .missed-events {
    padding-bottom: 50px;
  }

  .filters-container {
    width: 100%;
  }

  .btn.dropdown-menu-toggle {
    width: 90%;
    margin: auto;
  }

  .social-tag {
    padding-right: 0;
    color: $color-twitter;
  }

  .subheader {
    margin-bottom: 35px;
  }

  .rad-event {
    width: 100%;

    h3 {
      text-align: center;
    }

    p {
      text-align: center;
      margin-top: 10px;
    }
  }

  .pagination {
    padding-left: 0;
  }
}
