%nav#qnav.navbar.navbar-default.qnav.hidden-xs.qnav2{role: "navigation"}
  .container-fluid.featurenav
    %ul.nav.nav-pills.nav-justified
      %li{class: ("active" if current_page.url == "/features/")}
        %a{href: "/features/"}
          All Features
      %li{class: ("active" if current_page.url == "/features/gitlab-geo/")}
        %a{href: "/features/gitlab-geo"}
          GitLab Geo
      %li{class: ("active" if current_page.url == "/support/#premium-support")}
        %a{href: "/support/#premium-support"}
          Premium Support
      -# %li{class: ("active" if current_page.url == "/features/file-locking/")}
      -#   %a{href: "/features/file-locking"}
      -#     File Locking
      -# %li{class: ("active" if current_page.url == "/features/service-desk/")}
      -#   %a{href: "/features/service-desk"}
      -#     Service Desk
      %li{class: ("active" if current_page.url == "/features/gitlab-ci-cd/")}
        %a{href: "/features/gitlab-ci-cd"}
          GitLab CI/CD
      -# %li{class: ("active" if current_page.url == "/features/time-tracking/")}
      -#   %a{href: "/features/time-tracking"}
      -#     Time Tracking
      -# %li{class: ("active" if current_page.url == "/features/subgroups/")}
      -#   %a{href: "/features/subgroups"}
      -#     Subgroups
      %li{class: ("active" if current_page.url == "/features/jira/")}
        %a{href: "/features/jira"}
          JIRA Integration
      %li{class: ("active" if current_page.url == "/features/github/")}
        %a{href: "/features/github"}
          GitHub Integration
      %li{class: ("active" if current_page.url == "/features/jenkins/")}
        %a{href: "/features/jenkins"}
          Jenkins Integration
