%ol.list
	- data.stages.stages.each do |stageKey, stage|
		- if (stage.dev_ops == dev_ops)
			%li{id: stageKey}
				%b.pm= "#{stage.display_name}"
				%span= "| PM: #{stage.pm} | PMM: #{stage.pmm} | EM: #{stage.engineering_manager} | FEM: #{stage.frontend_engineering_manager}"
			%ul
				- data.categories.each do |categoryKey, category|
					- if (category.stage == stageKey)
						- if category.available && (category.available.year == Date.today.year)
							- kbdElement = (category.available.month <= Date.today.month) ? "<kbd>New in #{Date.today.year}</kbd>" : "<kbd>Planned #{Date.today.year}</kbd>"
						- elsif category.available && (category.available.year > Date.today.year)
							- kbdElement = "<kbd>Planned #{category.available.year}</kbd>"
						- categoryName = category.alt_link ? "<a href=#{category.alt_link}>#{category.name}</a>" : category.name
						%li.category #{categoryName} #{kbdElement ? kbdElement : ''}
				- if stage.internal_customers
					%li.category= "Internal Customer".pluralize(stage.internal_customers.count)+ ": " + stage.internal_customers.join(", ")
