---
title: Recent news archives
suppress_header: true
extra_css:
  - press.css
---

.blank-header
  %img.image-border.image-border-left{ src: "/images/home/icons-pattern-left.svg" }
  %img.image-border.image-border-right{ src: "/images/home/icons-pattern-right.svg" }
  .header-content
    %h1 Recent News
    %p Recent news involving yours truly
.gitlab-content-container.margin-top50
  .content
    .content-section
      - data.press.recent_news.each do |news, index|
        .press-block
          .logo-and-date
            %img.news-logo-small{ src: "#{news.logo}" }
            %p.news-date
              = news.date
          %p
            = news.title
          %a.article-link{ href: "#{news.link}", target: "_blank" }
            Go to article
            %i.fa.fa-arrow-right
